.title {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.title-2 {
  width: 100%;
  overflow: hidden;
  margin-right: 250px;
  text-align: end;
}

.title h1,
.title-2 h1 {
  width: 100%;
  border: 4px solid var(--primary);
  border-radius: 50px;
  padding: 5px 100px;
  color: var(--white);
  font-size: 4rem;
  font-family: var(--font-1);
  margin-bottom: 10px;
}

.title h1 {
  margin-left: 110px;
}

@media (max-width: 768px) {
  .title h1 {
    margin-left: 50px;
  }

  .title-2 {
    margin-left: 150px;
  }
}

@media (max-width: 480px) {
  .title h1,
  .title-2 h1 {
    font-size: 2rem;
  }
}
