header {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    background-color: var(--black);
    opacity: 0;
    animation: slideDown .5s ease forwards;
    position: relative;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


header .logo {
    color: var(--white);
    font-family: var(--font-1);
    font-size: 1.5rem;
}


header .navbar {
    display: flex;
    width: 70%;
    justify-content: space-around;
}


header .navbar a {
    color: var(--white);
    font-family: var(--font-1);
    font-size: 1.1rem;
    transition: .5s;
}

header .navbar a:hover {
    color: var(--secundary);
}

header svg {
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}


@media (max-width: 769px) {
    header .navbar a {
        font-size: .8rem;
    }
}

@media (max-width: 580px) {

    header {
        justify-content: space-between;
        gap: 5px;
        padding: 0 5px;
    }

    header .logo {
        font-size: 1.2rem;
    }

    
    header .navbar {
    width: 80%;
    }

    header .navbar a {
        font-size: .7rem;
    }

    /* header .navbar {
        display: none;
    } */

    header svg {
        display: flex;
    }
/* 
    header .navbarMobile {
        width: 150px;
        height: 250px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: absolute;
        right: 0;
        top: 70px;
        z-index: 5;
        background-color: var(--black);
        opacity: 0;
        animation: slideLeft .8s ease forwards;
    } */
}