footer {
    display: flex;
    flex-direction: column;
    background-color: var(--division);
    padding: 10px 10px 0 10px;
    font-family: var(--font-1);
}

footer a {
    font-weight: 900;
    color: var(--secundary);
    transition: .5s;
}

footer a:hover {
    color: var(--primary);
}

footer .infos {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    height: 80px;
    border-bottom: 2px solid var(--black);
}

footer .infos div {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}   

footer .infos div h3 {
    margin-bottom: 7px;
}

footer .infos div a,
footer .infos div span {
    font-size: .8rem;
    padding: 5px;
}

footer .producer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}


footer .producer p {
    font-size: .8rem;
}