.boxes-combos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 20px 0 250px 0;
}

.box-combo {
    background-color: var(--primary);
    width: 18%;
    min-width: 170px;
    height: 230px;
    border-radius: 40PX;
    padding: 5px;
}

.box-combo .text-combo {
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 50px;
    font-size: .9rem;
    height: 55%;
    margin-bottom: 5px;
}

.box-combo .text-combo p,
.box-combo .text-combo strong {
    text-align: center;
}

.box-combo .text-combo strong {
    font-size: 1rem;
}

.box-combo a {
    display: block;
    text-align: center;
    border: 0;
    padding: 5px;
    width: 100%;
    border-radius: 210px;
    background-color: var(--secundary);
    color: var(--white);
    transition: .5s;
}

.box-combo a:hover {
    background-color: var(--tertiary);
}

.img-combo {
    width: 100%;
    height: 140%;
    padding: 10px;
}

.img-combo img {
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width: 760px) {

    .boxes-combos {
        margin: 20px 0 200px 0;
    }

    .box-combo {
        min-width: 120px;
        height: 150px;
        border-radius: 20px;
    }

    .box-combo .text-combo {
        padding: 5px;
        font-size: .7rem;
    }
}

@media (max-width: 480px) {

    .boxes-combos {
        margin: 20px 0 150px 0;
        gap: 3px;
    }

    .box-combo {
        min-width: 85px;
        height: 120px;
        border-radius: 20px;
    }

    .box-combo .text-combo {
        padding: 5px;
        font-size: .5rem;
    }

    .box-combo .text-combo strong {
        font-size: .7rem;
    }

    .box-combo a {
        padding: 2px;
        font-size: .8rem;
    }

    .img-combo {
        height: 100%;
    }
}